:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Optima;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to top, #3a81c8, white)fixed;
  overflow-x: hidden;
  

}



h1 {
  font-family: "Optima", Optima;
  text-decoration: none;
  margin-left: 10%;
  margin-top: 1px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-decoration: none; /* This is not necessary, as the underline is on the anchor tag */
  will-change: color;
  transition: color 200ms;
}

#title a {
  text-decoration: none; /* Remove underline */
  will-change: color;
  display: block;
  font-size: 0.8em;
  transition: color 300ms;
  z-index: 1000;
  margin-left: 5%;
  letter-spacing: 0.4em;

}

#main-icon img{
  width: 60px; /* Adjust as needed */
  margin-right: 15px; /* Adjust as needed */
  position: fixed;
  top: 1%;
  left: 9%;
  z-index: 100;
}

#main-icon:hover img{
  animation: sway 1.5s infinite ease-in-out;
  z-index: 100;
}

@keyframes sway {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 101;
}

.hamburger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px 0;
  background-color: #333;
}

#mobile-nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 150px; /* You can adjust this */
  background-color: #fff;
  z-index: 100;
}

#mobile-nav #navBar {
  padding: 10px;
  list-style-type: none;
}

#mobile-nav #navBar li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  text-align: left;
}

/* Styles for screens smaller than 768px wide */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }
}

 
header {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 5.6%;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

#navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  text-align: right;
  padding-right: 10%;
}

#navBar {
  font-family: "Optima", Optima; /* Set the desired font here */
  display: inline-block; /* Makes sure the ul itself aligns right */
}

#navBar li {
  display: inline-block;
  padding: 8px;
}

#navBar li a {
  color: rgb(129, 134, 149); /* Set the desired color here */
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 1em;
  line-height: 1.8;
  position: relative;
}

#navBar li a:hover {
  color:rgb(56, 131, 245);
  /* text-shadow: 0 0 2em #0c36f0e0; */
}

#navBar li a::after {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position the pseudo-element relative to the anchor tag */
  left: 0;
  bottom: 0;
  width: 100%; /* Extend the underline across the full width of the anchor tag */
  height: 2px; /* Adjust the height of the underline as desired */
  background-color: rgb(56, 131, 245); /* Set the color of the underline */
  transform: scaleX(0); /* Initially set the underline width to zero */
  transform-origin: left; /* Set the transform origin to the left edge */
  transition: transform 1s ease-in-out; /* Add a transition for smooth animation */
}
/* defines what happens you hover over a link */

#navBar li a:hover::after {
  transform: scaleX(1); /* Expand the underline to full width on hover */
}


/* Main Page Info */

main {
  padding: 20px;
  display: relative;
}

#welcome-sectionheader {
  position: absolute;
  padding: 10px;
  top: 30%;
  left: 6.5%;
  writing-mode: horizontal-lr; /* Set the writing mode to display the text vertically from left to right */
  text-orientation: upright; /* Set the text orientation to be upright */
  white-space: nowrap; 
}

#welcome-sectionheader h1 {
  font-weight: bold;
  font-size: 2em;
  
}

/* Welcome section styles */
#welcome-section {
  max-width: 400px; /* Max width but can shrink */
  width: 80%; /* Will take up to 80% of the screen width */
  position: absolute;
  top: 48%;
  left: 24%; /* Center horizontally */
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

#welcome-section p {
  font-size: 1.5em;
  color: rgb(55, 55, 59);
  text-align: left; /* Center the text horizontally */
  position: relative;
}

#buttonWrapper {
  text-align: center;
}

#myButton {
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255); 
  color: white;
  position: absolute;
  top: 58%;
  left: 140px;
  padding: 0; /* Removed padding */
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  width: 200px;
  height: 45px;
  line-height: 45px; /* Match line-height to button height */
}


#myButton:hover {
  background-color: #4974e0; /* Darker green on hover */
  border: 2px solid #4974e0; 
}



#lottie-animation {
  width: 380px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  position: absolute;
  top: 25%;
  right: 10%;
  cursor: pointer;
}

#whiteDevbox {
  width: 700px;
  height: 400px;
  position: absolute;
  top: 25%;
  right: 0%;
  background-color: white;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

#whiteDevbox-2 {
  width: 700px;
  height: 400px;
  position: absolute;
  top: 5%;
  left: 0%;
  background-color: white;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  z-index: 0;
}

#design-cube {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 65%;
  right: 11%;
  background-color: rgb(255, 255, 255);
  border-radius: 360px;
  z-index: 100;
}

#whiteline1 {
  width: 20%;
  height: 3px;
  margin-left: 8.5%;
  background-color: white;
  z-index: 1;
  top: 95%;
  position: absolute;
}


/* About Page Section */

#about {
  padding: 50px;
  position: absolute;
  top: 100%; /* Move the #about section below the header and main content */
  left: 0;
  width: 100%;
  height: 1000px; /* Adjust the height as needed */
}


/* Overview Section */



#container-one h2 {
  font-size: 1.7em;
  color: #333;
  font-family: "Optima", Optima;
  top: 9%;
  margin-left: 48%;
  position: absolute;
  
}

#container-one p {
  font-size: 1.2em;
  color: #333538;
  font-family: "Optima", Optima;
  position: absolute;
  top: 16%;
  margin-left: 48%;
  width: 39%;
}

#lottie-animation-two {
  width: 380px; /* Adjust as needed */
  height: 380px; /* Adjust as needed */
  position: absolute;
  top: 6%;
  margin-left: 5%;
  cursor: pointer;
}

/* Add this at the end of your existing CSS to modify styles for screens smaller than 768 pixels wide, typical for smartphones */
@media (max-width: 768px) {
  #main-icon img {
    width: 40px; /* Reduce the size of the icon */
    left: 2%; /* Adjust the position */
    top: 2%;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(to top, #3a81c8, white)fixed;
    overflow-x: hidden;
  
  }

  #title a {
    margin-left: 3%;
    font-size: 0.6em;
  }

  #navbar-wrapper {
    display: none;
  }

  #whiteDevbox {
    width: 50%;
    height: 30%;
    top: 28%;
    right: 0; /* Aligns to the right edge */
  }

  #design-cube{
    width: 6%;
    height: 5%;
    top: 48%;
    right: 0; /* Aligns to the right edge */
  }

  #lottie-animation {
    width: 40%;
    right: 0; /* Aligns to the right edge */
    top: 14%;
  }

  #welcome-sectionheader {
    left: 50%;
    width: 20%;
    height: 10%;
    font-size: 50%;
    font-weight: bolder;
    top: 20%;
    left: 0%;
  }

  #welcome-section {
    left: 50%;
    width: 48%;
    height: 10%;
    font-size: 60%;
    top: 30%;
    left: 28%;
  }

  #buttonWrapper {
    text-align: center;
  }


  #myButton {
    left: 15%;
    width: 38%;
    height: 4.5%;
    font-size: 90%;
    top: 40%;
    left: 3.5%;
    text-align: center;
    display: inline-block;
    line-height: 5%;

  }

  #myButton p{
    top: 35%;
  }

  #navbar-wrapper {
    padding-right: 5%;
  }
  /*#whiteline1 {
    width: 40%;
    height: 2px;
    margin-left: 0.9%;
    background-color: white;
    z-index: 1;
    top: 65%;
    position: absolute;
  } */

  #container-one h2 {
    font-size: 1.2em;
    color: #333;
    font-family: "Optima", Optima;
    position: absolute;
    top: 5%;
    margin-left: -5%;
    width: 100%;
    
  }
  
  #container-one p {
    font-size: 1em;
    position: absolute;
    top: 10%;
    color: #353232;
    font-family: "Optima", Optima;
    margin-left: -5%;
    width: 70%;
  }

  #lottie-animation-two {
    width: 36%; /* Adjust as needed */
    height: 50%; /* Adjust as needed */
    position: absolute;
    top: -33%;
    left: 15%;
    cursor: pointer;
  }

  #whiteDevbox-2 {
    width: 100%;
    height: 20%;
    top: -18%;
    left: 0; /* Aligns to the right edge */
  }
}

